Contacto work
<div fxLayout="column" fxLayoutAlign="space-around start">
    <h1 class="tituloContacto">CONTACTANOS</h1>
    <hr class="lineaTitulo">

</div>

<!-- 1 fila y 2 columnas -->
<div class="contacto" fxLayout="row" fxLayoutAlign="space-around center">
    <!-- para la primer columna son 3 filas -->

    <div fxLayout="column" fxLayoutAlign="space-around center">
        <!-- direccion -->
        <div fxLayout="row" fxLayoutAlign="end end">
            <h5 class="direccion">
                Alderete 97
            </h5>

        </div>

        <!-- provincia -->
        <div fxLayout="row" fxLayoutAlign="end end">
            <h5 class="provincia">
                Neuquen
            </h5>

        </div>


        <!-- mapa -->
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <iframe class="mapa" src="https://www.google.com/maps/d/u/0/embed?mid=1ZnRcJI_e1X9_fL_RMP8FCT8pWyKIo2Yh"></iframe>
        </div>

    </div>


    <!-- formulario -->
    <div fxLayout="column" fxLayoutAlign="space-around center">
        formulario

    </div>


</div>