/* el estilo */

.pantalla {
    display: flex;
    flex-direction: row;
    box-align: "center center";
    margin: 15%;
    margin-top: 25px;
    background-color: rgb(231, 209, 244);
}


.violeta{
    color: rgb(77, 18, 104);
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1;
    margin: -0.5%;
}

.formu {
    display: flex;
    flex-direction: column;
    box-align: "space-around center";
}

.envFormu {
    display: flex;
    flex-direction: row;
    box-align: "start start";
}

.tituloContacto {
    /* size: 255px; */
  
    font-weight: bold;
    color: rgb(77, 18, 104);
    margin-top: 5%;
    z-index: 0;
}

hr {
    z-index: -10;
    border: 0;
    border-top: 8px solid;
    width: 300px;
    margin: 0;
    margin-top: -23px;
    position: absolute;
    transition: width 0.3s ease-out;
    -webkit-transition: width 0.3s ease-out;
    color: #E99623 !important;
}

/* hr.lineaTitulo {
    border: 10px solid rgb(230, 141, 78);
    width: 25.5%;
    background-color: black;
    margin-top: -2.2%;
    margin-left: 5%;
    z-index: -1;
} */

.contacto {
    background-color: rgb(231, 209, 244);
    margin-top: 25px;
}

.mapa {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 55px;
    margin-top: 25px;
    width: 800px;
    height: 500px;
    /*  margin-left: 35%; */
}


h5.direccion {
    color: rgb(77, 18, 104);
    font-size: 1.8rem;
    font-weight: bold;
}

h5.provincia {
    color: rgb(77, 18, 104);
    font-size: 1.8rem;
}

h5.consulta {
    
    margin-left: 4%;
    color: rgb(230, 141, 78);
    font-size: 2rem;
    font-weight: bold;
}


/* formu */

.form-btn {
    background: transparent;
    font-size: 1.5vw;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px 24px;
    margin-top: 2.25rem;
    position: relative;
    z-index: 0;
    transition: transform 0.28s ease;
    will-change: transform;
    margin-left: 3%;
    margin-top: 6%;

}

.form-btn::before,
.form-btn::after {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
}

.form-btn::before {
    background: rgb(77, 18, 104);
    z-index: -2;
}

.form-btn::after {
    background: rgb(45, 4, 65);
    ;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.28s ease;
    will-change: opacity;
}

.form-btn:focus {
    outline: none;
}

.form-btn:focus::after,
.form-btn:hover::after,
{
    opacity: 0.3;
}

.form-btn:active {
    transform: translateY(1px);
}

.form-btn-block {
    display: block;
    width: 100%;
    padding: 5px;
}

.form-card {
    border-radius: 2px;
    background: rgb(231, 209, 244);
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    transition: all 0.56s cubic-bezier(0.25, 0.8, 0.25, 1);
    max-width: 5000px;
    padding: 0;
    margin-right: 50px auto;
}

.form-actions {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    width: 95px;
    margin-left: 1.5vw;
    height: 35px;
}

.form-actions>* {
    -ms-flex: 1;
    flex: 1;
    margin-top: -2vh;
}

.form-fieldset {
    margin-top: -6vh;
    padding-left: 30px;
    padding-top: 30px;
    border: 0;
    width: 40vw;
  /*   height: 50vh; */
}

.form-fieldset+.form-fieldset {
    margin-top: 15px;
}

.form-legend {
    padding: 1em 0 0;
    margin: 0 0 -0.5em;
    font-size: 1.5rem;
    text-align: center;
}

.form-legend+p {
    margin-top: 1rem;
}

.form-element {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}

.form-element-hint {
    font-weight: 400;
    font-size: 0.6875rem;
    color: #a6a6a6;
    display: block;
}

.form-element-bar {
    position: relative;
    height: 4px;
    background: rgb(230, 141, 78);
    display: block;
}

.form-element-bar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(77, 18, 104);
    height: 2px;
    display: block;
    transform: rotateY(90deg);
    transition: transform 0.28s ease;
    will-change: transform;
}


/* definicion del texto del formulario */

.form-element-label {
    position: absolute;
    top: 0.75rem;
    line-height: 1.5rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 0;
    font-size: 1.4rem;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: #a6a6a6;
    transform: translateY(-50%);
    transform-origin: left center;
    transition: transform 0.28s ease, color 0.28s linear, opacity 0.28s linear;
    will-change: transform, color, opacity;
}

.form-element-field {
    outline: none;
    height: 1.5rem;
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 0.8rem;
    border: 0 solid transparent;
    line-height: 1.5;
    width: 100%;
    color: #333;
    box-shadow: none;
    opacity: 0.001;
    transition: opacity 0.28s ease;
    will-change: opacity;
}

.form-element-field:-ms-input-placeholder {
    color: #a6a6a6;
    transform: scale(0.9);
    transform-origin: left top;
}

.form-element-field::placeholder {
    color: #a6a6a6;
    transform: scale(0.9);
    transform-origin: left top;
}

.form-element-field:focus~.form-element-bar::after {
    transform: rotateY(0deg);
}

.form-element-field:focus~.form-element-label {
    color: rgb(77, 18, 104);
}

.form-element-field.-hasvalue,
.form-element-field:focus {
    opacity: 1;
}

.form-element-field.-hasvalue~.form-element-label,
.form-element-field:focus~.form-element-label {
    transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    cursor: pointer;
    pointer-events: auto;
}

.form-is-success .form-element-label.form-element-label,
.form-is-success .form-element-hint {
    color: #259337;
}

.form-is-success .form-element-bar::after {
    background: #259337;
}

input.form-element-field:not(:placeholder-shown),
textarea.form-element-field:not(:placeholder-shown) {
    opacity: 1;
}

input.form-element-field:not(:placeholder-shown)~.form-element-label,
textarea.form-element-field:not(:placeholder-shown)~.form-element-label {
    transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    cursor: pointer;
    pointer-events: auto;
}

textarea.form-element-field {
    height: auto;
    min-height: 14rem;
    height: 4px;
    border: solid rgb(230, 141, 78);
    /* background: rgb(230, 141, 78); */
}

select.form-element-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.form-select-placeholder {
    color: #a6a6a6;
    display: none;
}

.form-select .form-element-bar::before {
    content: "";
    position: absolute;
    height: 0.5em;
    width: 0.5em;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    display: block;
    right: 0.5em;
    bottom: 0;
    transition: transform 0.28s ease;
    transform: translateY(-100%) rotateX(0deg) rotate(45deg);
    will-change: transform;
}

.form-select select:focus~.form-element-bar::before {
    transform: translateY(-50%) rotateX(180deg) rotate(45deg);
}

.form-element-field[type="number"] {
    -moz-appearance: textfield;
}

.form-element-field[type="number"]::-webkit-outer-spin-button,
.form-element-field[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    margin: 40px auto;
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

@media only screen and (max-width: 1366px) {

    .tituloContacto {
        /* size: 255px; */
     
        font-weight: bold;
        color: rgb(77, 18, 104);
        margin-top: 5%;
        z-index: 0;
       
    }
    hr.lineaTitulo {
        border: 6px solid rgb(230, 141, 78);
        width: 36.5%;
        background-color: black;
        margin-top: -2.5%;
       
        z-index: -10;
    }
    .contacto {
        background-color: rgb(231, 209, 244);
        margin-top: 25px;
    }
    .mapa {
        max-width: 100%;
        max-height: 100%;
        margin: 25px;
        width: 800px;
        height: 500px;
        /*  margin-left: 35%; */
    }


    .tamEnv {
        height: 4vh;
    }
}

@media only screen and (max-width: 1024px) {
    textarea.form-element-field {
        height: auto;
        min-height: 10rem;
        height: 4px;
        border: solid rgb(230, 141, 78);
        /* background: rgb(230, 141, 78); */
    }
    
.form-btn {

    margin-left: 4%;
    margin-top: 5%;

}
    
    .tituloContacto {
        /* size: 255px; */
        
        font-weight: bold;
        color: rgb(77, 18, 104);
        margin-top: 10%;
        z-index: 0;
    
    }
    hr.lineaTitulo {
        border: 4px solid rgb(230, 141, 78);
        width: 36.5%;
        background-color: black;
        margin-top: -2.5%;
        margin-left: 5%;
        z-index: -10;
    }
    .contacto {
        background-color: rgb(231, 209, 244);
        margin-top: 25px;
    }
    .mapa {
        max-width: 100%;
        max-height: 100%;
        margin: 25px;
        width: 800px;
        height: 500px;
        /*  margin-left: 35%; */
    }

  
    .tamEnv {
        height: 4vh;
    }
}

@media only screen and (max-width: 768px) {
    h5{
        text-align: center!important;
    }
    .h5{
        text-align: center!important;
    }
    
    textarea.form-element-field {
        height: auto;
        min-height: 8rem;
        height: 4px;
        border: solid rgb(230, 141, 78);
        /* background: rgb(230, 141, 78); */
    }

.form-btn {

    margin-left: 7%;
    margin-top: 25%;

}

    .pantalla {
        display: flex;
        flex-direction: column;
        box-align: "center center"
    }
    .formu {
        display: flex;
        flex-direction: column;
        box-align: "start start";
        padding: 0%;
    }
    .form-card {
        margin: 0;
    }
    .form-fieldset {
        margin-top: -5%;
        padding: 30px;
        border: 0;
        width: 100%;
        height: 50vh;
    }
   
    .tituloContacto {
     
        padding-top: 9%;
    }
    hr.lineaTitulo {
        border: 3px solid rgb(230, 141, 78);
        width: 66.5%;
        background-color: black;
        margin-top: -4%;
        margin-left: 5%;
        z-index: -10;
    }

    .form-btn {
        font-size: 15px;
    }
    .form-actions {
        position: relative;
        display: -xs-flexbox;
        display: flex;
        width: 95px;
        margin-left: 35%;
        height: 35px;
    }
}

@media only screen and (max-width: 426px) {
    h5{
        text-align: center!important;
    }
    .h5{
        text-align: center!important;
    }

    textarea.form-element-field {
        height: auto;
        min-height: 2.5rem;
        height: 4px;
        border: solid rgb(230, 141, 78);
        /* background: rgb(230, 141, 78); */
    }
    
.form-btn {

    margin-left: 8%;
    margin-top: 5%;

}
    .pantalla {
        display: flex;
        flex-direction: column;
        box-align: "center center"
    }
    .formu {
        display: flex;
        flex-direction: column;
        box-align: "start start";
        padding: 0%;
    }
    .form-card {
        margin: 0;
    }
    .form-fieldset {
        margin-top: -5%;
        padding: 30px;
        border: 0;
        width: 100%;
        height: 50vh;
    }
 
    .tituloContacto {
      
        padding-top: 25%;
    }
    hr.lineaTitulo {
        border: 3px solid rgb(230, 141, 78);
        width: 63.5%;
        background-color: black;
        margin-top: -6%;
        margin-left: 5%;
        z-index: -10;
    }

    .form-btn {
        font-size: 15px;
    }
    .form-actions {
        position: relative;
        display: -xs-flexbox;
        display: flex;
        width: 95px;
        margin-left: 24%;
        margin-top: 41%;
        height: 56px;
    }
    .mapa {
        margin: 0;
        /*  margin-left: 35%; */
    }
}

@media only screen and (max-width: 411px) {
    .pantalla {
        display: flex;
        flex-direction: column;
        box-align: "center center"
    }
    .formu {
        display: flex;
        flex-direction: column;
        box-align: "start start";
        padding: 0%;
    }
    .form-card {
        margin: 0;
    }
    .form-fieldset {
        margin-top: -5%;
        padding: 30px;
        border: 0;
        width: 100%;
        height: 50vh;
    }
  
    .tituloContacto {
       
        padding-top: 42%;
    }
    hr.lineaTitulo {
        border: 3px solid rgb(230, 141, 78);
        width: 63.5%;
        background-color: black;
        margin-top: -6%;
        margin-left: 5%;
        z-index: -10;
    }

    .form-btn {
        font-size: 15px;
        margin-left: 24%;
    }
    .form-actions {
        position: relative;
        display: -xs-flexbox;
        display: flex;
        width: 95px;
        margin-left: 25%;
        margin-top: 27%;
        height: 35px;
    }
}

@media only screen and (max-width: 376px) {
    .pantalla {
        display: flex;
        flex-direction: column;
        box-align: "center center"
    }
    .formu {
        display: flex;
        flex-direction: column;
        box-align: "start start";
        padding: 0%;
    }
    .form-card {
        margin: 0;
    }
    .form-fieldset {
        margin-top: -5%;
        padding: 30px;
        border: 0;
        width: 100%;
        height: 50vh;
    }

    .tituloContacto {
       
        padding-top: 29%;
    }
    hr.lineaTitulo {
        border: 3px solid rgb(230, 141, 78);
        width: 64.5%;
        background-color: black;
        margin-top: -6%;
        margin-left: 5%;
        z-index: -10;
    }

    .form-btn {
        font-size: 15px;
    }
    .form-actions {
        position: relative;
        display: -xs-flexbox;
        display: flex;
        width: 95px;
        margin-left: 22%;
        height: 35px;
    }
}

@media only screen and (max-width: 321px) {
    .pantalla {
        display: flex;
        flex-direction: column;
        box-align: "center center"
    }
    .formu {
        display: flex;
        flex-direction: column;
        box-align: "start start";
        padding: 0%;
    }
    .form-card {
        margin: 0;
    }
    .form-fieldset {
        margin-top: -5%;
        padding: 30px;
        border: 0;
        width: 100%;
        height: 50vh;
    }
 
    .tituloContacto {
        
        padding-top: 29%;
    }
    hr.lineaTitulo {
        border: 3px solid rgb(230, 141, 78);
        width: 63.5%;
        background-color: black;
        margin-top: -6%;
        margin-left: 5%;
        z-index: -10;
    }

    .form-btn {
        font-size: 15px;
        margin-left: 24%;
    }
    .form-actions {
        position: relative;
        display: -xs-flexbox;
        display: flex;
        width: 95px;
        margin-left: 16%;
        height: 35px;
    }
}


/* para el boton  box-align: "center center";*/