<!-- The content below is only a placeholder and can be replaced. -->

<app-header></app-header>

<app-sidebar></app-sidebar>

<router-outlet></router-outlet>
<app-carousel></app-carousel>

<app-yoga-es></app-yoga-es>
<app-actividades></app-actividades>
<app-yoga-naturaleza></app-yoga-naturaleza>
<app-nosotros></app-nosotros>

<app-contacto></app-contacto>
<app-footer></app-footer>
<!-- <app-login></app-login> -->

<!-- <div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5%">
    <div fxFlex="40" fxLayoutAlign="center">
        <p>Hola</p>
    </div>
    <div fxFlex="70" fxLayoutAlign="center" class="columna">
        <p>Chau</p>
    </div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5%" style="margin: 10%;">
    <div fxFlex="40" fxLayoutAlign="center">
        <p>si</p>
    </div>
    <div fxFlex="70" fxLayoutAlign="center" class="">
        <p>no</p>
    </div>

 -->
