<div class="container" style="margin-top: 6% ;">

    <h1 id="subtitulo">Yoga y</h1>
    <h1 id="subtitulo2">NATURALEZA</h1>
    <hr>

    <div class="row" style="margin-top: 3%;">
        <div class="col-md-4 align-self-center">
            <h1 class=" retiros" id="retiros">Retiros Espirituales</h1>
            <p class="textoRetiros">En el retiro se vive una experiencia integral
                del Yoga, en el cual se practica meditación en las
                horas tempranas de la mañana, kirtan, el canto
                
                de los mantras, Enseñanza del Yoga y su filosofía, clases de yoga, talleres, paseos por la zona,
                
                caminatas contemplativas por la montaña y deliciosa comida vegetariana.
                
                Los retiros desarrollan un tema esencial propuesto, tienen un programa detallado de horarios y
                
                actividades. Pueden durar dos noches y tres
                dias, o más. Se realizan en hosterías, hoteles o
                cabañas ubicados en lugares privilegiados.</p>
        </div>
        <div class="col-md-8 ">  
            <img src="../../assets/images/mundo/montana03.jpg" alt="" >
        </div>
    </div>
    <div class="row" style="margin-top: 8%;">
        <div class="col-md-7">  
            <img src="../../assets/images/mundo/india01.jpg" alt="" >
        </div>
        <div class="col-md-4 align-self-center" style="margin-left: 3%;">
            <h1 class=" viajes" id="viajes">Viajes a la India</h1>
            <p class="textoViajes">En los meses de Septiembre y Octubre viajamos
                a la India, internandonos en los Himalayas, aquellos lugares donde el Yoga se originó y donde se practica actualmente en su
                
                más fiel manifestación. Visitamos Rishikesh, la
                capital mundial del Yoga, lugar en el que vivió
                nuestro Maestro Swami Sivananda.
                
                Cada año vemos distintas opciones, visitando diferentes lugares sagrados de los Himalayas,
                 asi como también Agra, donde se encuentra el Taj Mahal, Vrindavan y Varanasi,
                
                entre otros sitios de interés.
                </p>
        </div>
    </div>