<div class="containter">
    <div class="col omshanti">
        <div class="row">
            <img src="../../assets/image/footer/omshanti.png" class="manosimg" alt="manos">
        </div>
        <div class="row Om">
            <h1 id="om"><b>OM</b> SHANTI</h1>
        </div>
    </div>
    <div class="row footer">
        <div class="row contactanos">
            Contactanos
        </div>
        <hr class="separador">
        <!-- hasta aca bien -->
    </div>
    <div class="row align-items-start footer2">
        <div class="col-md-4 col-sm-12 align-self-start">
            <div class="row">
                <div class="col">
                    <img src="../../assets/image/footer/telefono.png" class="telefonoimg" alt="telefono">
                </div>
                <div class="col ">
                    <h5 id="telefono">(0299) 15-47219</h5>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="../../assets/image/footer/email.png" class="mailimg" alt="mail">
                </div>
                <div class="col">
                    <h5 id="mail">centrodeyogasadhana@gmail.com</h5>

                </div>

            </div>

        </div>

        <div class="col-md-4 col-sm-12 align-self-center">
            <div class="row">
                <div class="col-sm-2 offset-md-4 face">
                    <a href="" target="_blank">
                        <!-- direccion de face de yoga -->
                        <img src="../../assets/image/footer/facebook.png" class="faceimg" alt="Face"></a>
                </div>
                <div class="col-sm-2 offset-md-4  wpp">
                    <a href="" target="_blank">
                        <!-- que pasa al tocar el logo de wpp -->

                        <img src="../../assets/image/footer/whatsapp.png" class="wppimg" alt="wpp"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 align-self-end">
            <p id="diseño">Diseñado por</p>
            <p id="ada">www.adacodingdesign.com</p>

        </div>

    </div>

</div>