.omshanti {
  background-color: rgb(230, 141, 78);
}
.manos {
  justify-content: center;
}

.manosimg {
  padding-top: 2%;
  height: 5%;
}

#om {
  font-size: 2  .5rem;
}

.Om {
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: center;
}

.footer {
  background-color: rgb(77, 18, 104);
  padding-top: 2%;
  padding-bottom: 3%;
}

hr.separador {
  border: 1px solid rgb(230, 141, 78);
  width: 90%;
  background-color: black;

  z-index: 1;
}

.contactanos {
  color: rgb(230, 141, 78);
  padding-left: 6%;
  font-size: 28px;
}
.telefonoimg {
  padding-left: 70%;
  padding-top: -2%;
}

.mailimg {
  padding-left: 70%;
}

#telefono {
  font-size: 15px;
  color: white;
  padding-top: 6%;
}

#mail {
  font-size: 15px;
  color: white;
  padding-top: 4%;
}
.medio {
  justify-content: center;
}

.face {
  padding-left: 37%;
  padding-right: 0%;
}
.wpp {
  padding-left: 0%;
}

.faceimg {
  width: 90%;
}

.wppimg {
  width: 26%;
}

#diseño {
  font-size: 15px;
  color: white;
  padding-left: 70%;
  padding-top: 5%;
}

#ada {
  font-size: 15px;
  color: white;
  padding-left: 55%;
  margin-top: -3%;
}
@media only screen and (max-width: 1440px) {
  .faceimg {
    width: 95%;
  }
  .wppimg {
    width: 29%;
  }
  #diseño {
    padding-left: 65%;
  }
  #ada {
    padding-left: 45%;
  }
}
@media only screen and (max-width: 1366px) {
  .telefonoimg {
    width: 110%;
  }
  .mailimg {
    width: 110%;
  }
  #telefono {
    padding-top: 5%;
  }

  #mail {
    padding-top: 3%;
  }
  .face {
    padding-left: 32%;
  }
  .faceimg {
    width: 90%;
  }
  .wppimg {
    width: 36.5%;
  }
  #diseño {
    padding-left: 63%;
  }
  #ada {
    padding-left: 43%;
  }
}

@media only screen and (max-width: 1024px) {
  .manosimg {
    width: 5%;
  }
  #om {
    font-size: 50px;
  }
  hr.separador {
    width: 92%;
  }
  .telefonoimg {
    width: 120%;
  }
  .mailimg {
    width: 120%;
  }
  #telefono {
    padding-top: 5%;
  }

  #mail {
    padding-top: 3%;
  }
  .face {
    padding-left: 30%;
  }
  .faceimg {
    width: 90%;
  }
  .wppp {
    padding-right: 0%;
  }
  .wppimg {
    width: 40%;
  }
  #diseño {
    padding-left: 63%;
  }
  #ada {
    padding-left: 43%;
  }
}

@media only screen and (max-width: 768px) {
  #diseño {
    padding-left: 47%;
  }
  #ada {
    padding-left: 10%;
  }
}

@media only screen and (max-width: 426px) {
  .manosimg {
    width: 18%;
  }
  .contactanos {
    justify-content: center;
  }
  .tel {
    justify-content: center;
  }
  .mail {
    justify-content: center;
  }
  .telefonoimg {
    padding-left: 5%;
    width: 15%;
    margin-bottom: -8%;
  }
  .mailimg {
    padding-left: 5%;
    width: 15%;
    margin-bottom: -10%;
  }
  #telefono {
    padding-top: 0%;
    padding-left: 25%;
  }

  #mail {
    padding-top: 0%;
    padding-left: 25%;
  }
  .face {
    padding-left: 30%;
    padding-top: 15%;
    margin-bottom: -22%;
  }
  .faceimg {
    width: 30%;
  }
  .wppp {
    padding-right: 0%;
    padding-left: 50%;
  }
  .wppimg {
    width: 42%;
  }
  #diseño {
    padding-left: 40%;
  }
  #ada {
    padding-left: 27%;
  }
}

@media only screen and (max-width: 411px) {
  .face {
    padding-left: 30%;
    padding-top: 15%;
    margin-bottom: -22%;
  }
  .faceimg {
    width: 30%;
  }
  .wppp {
    padding-right: 0%;
    padding-left: 50%;
  }
  .wppimg {
    width: 43%;
  }
}

@media only screen and (max-width: 376px) {
  #diseño {
    padding-left: 38%;
  }
  #ada {
    padding-left: 25%;
  }
}

@media only screen and (max-width: 321px) {
  .telefonoimg {
    padding-left: 2%;
    width: 15%;
    margin-bottom: -8%;
  }
  .mailimg {
    padding-left: 2%;
    width: 15%;
    margin-bottom: -10%;
  }
  #telefono {
    padding-top: 0%;
    padding-left: 20%;
  }

  #mail {
    padding-top: 0%;
    padding-left: 20%;
  }
  #diseño {
    padding-left: 36%;
  }
  #ada {
    padding-left: 20%;
  }
}
