<div class="col omshanti">
  <div class="row manos">
    <img
      src="../../assets/image/footer/omshanti.png"
      class="manosimg"
      alt="manos"
    />
  </div>
  <div class="row Om">
    <h1 id="om"><b>OM</b> SHANTI</h1>
  </div>
</div>
<div class="col footer">
  <div class="row contactanos">Contactanos</div>
  <hr class="separador" />
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="row tel">
        <div class="col-md-3">
          <img
            src="../../assets/image/footer/telefono.png"
            class="telefonoimg"
            alt="telefono"
          />
        </div>
        <div class="col-md-9">
          <h5 id="telefono">(0299) 15-47219</h5>
        </div>
      </div>
      <div class="row mail">
        <div class="col-md-3">
          <img
            src="../../assets/image/footer/email.png"
            class="mailimg"
            alt="mail"
          />
        </div>
        <div class="col-md-9">
          <h5 id="mail">centrodeyogasadhana@gmail.com</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="row medio">
        <div class="col-md-6 face">
          <a
            href="https://es-la.facebook.com/pages/category/Yoga-Studio/Centro-de-Yoga-Sadhana-de-Neuquen-199897903366150/"
            target="_blank"
          >
            <img
              src="../../assets/image/footer/facebook.png"
              class="faceimg"
              alt="Face"
          /></a>
        </div>
        <div class="col-md-6 wppp">
          <a
            href="https://api.whatsapp.com/send?phone=542994193983"
            target="_blank"
          >
            <img
              src="../../assets/image/footer/whatsapp.png"
              class="wppimg"
              alt="wpp"
          /></a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <p id="diseño">Diseñado por</p>
      <p id="ada">www.adacodingdesign.com</p>
    </div>
  </div>
</div>
