.big {
    font-size:4rem;
    line-height: 5rem;
}


h1{
    font-family:'Avenir-Roman';
    color: white;
    font-size:3rem;
    line-height: 4.5rem;
   /*  word-spacing:0.5rem */
    }
    .black{
        font-family: 'Avenir-Black';
    }
    
    
    .row{
        padding-top: 15%;
    }
    
    .margenCol{
        margin-right: -15px;
        margin-left: -15px;
    }
    
    .margenlCol2{
        margin-left: -25%;
    }
    
    .delay-medio{
        animation-delay: 0.5s;
    }
    .delay-1-5s{
        animation-delay: 1.5s;
    }
    
    .carousel-content {
        position: absolute;
        bottom: 55%;
        left: 10%;
        z-index: 20;
        color: white;
        letter-spacing: 6px;
        
        font-family:'Montserrat-SemiBold';
      }

      hr {
        z-index: -10;
        border: 0;
        border-top: 8px solid;
        width: 0px;
        margin: 0;
        margin-top: -10px;
        position: absolute;
        transition: width 0.3s ease-out;
        -webkit-transition: width 0.3s ease-out;
        color: #E99623 !important;
    }
  
    
    
      
     