<div class="container" style="margin-top: 6% ;">

    <h1 id="subtitulo">Sobre</h1>
    <h1 id="subtitulo2">NOSOTROS</h1>
    <hr>

    <div class="row" style="margin-top: 3%;">
        <div class="col-md-4 col-sm-12  align-self-center">
            <h1 class=" retiros" id="centro">Centro de Yoga Sadhana</h1>
            <p class="textoRetiros">Fundado el 15 de marzo de 1988, el Centro de Yoga
                Sadhana brinda desde entonces y de modo continuo
                la posibilidad de acceder a la Enseñanza original del
                Yoga Tradicional, siguiendo el principio de transmisión

                de Maestros a discípulos, en una sucesión ininterrumpida desde el comienzo de los tiempos.</p>
        </div>
        <div class="col-md-8 col-sm-12 ">
            <img src="../../assets/images/nosotros/nosotros01.jpg" alt="">
        </div>
    </div>
    <div class="row" style="margin-top: 8%;">
        <div class="col-md-7 col-sm-12 ">
            <img src="../../assets/images/nosotros/swami.jpg" alt="">
        </div>
        <div class="col-md-4 align-self-center col-sm-12 " style="margin-left: 3%;">
            <h1 class=" viajes" id="maestro">Nuestro Maestro</h1>
            <p class="textoViajes">Nuestro linaje responde a Swami Sivananda, santo,
                yogui y Maestro Realizado, quien viviera en India

                en el siglo pasado, y desde él a todos sus antecesores, grandes Yoguis y Maestros reconocidos por

                la Tradición del Yoga y del Vedanta. Su enseñanza
                se resume en seis grandes máximas, que son:
                SIRVE, AMA, DA, PURIFÍCATE, MEDITA Y REALÍZATE.
            </p>
        </div>
    </div>
    <h1 class="textCenter subtitulo2"  style="margin-top: 8%;">INSTRUCTORES</h1>
    <div class="row justify-content-center" >
        <div class="col-md-6 col-sm-12  align-self-center">
            <img src="../../assets/images/nosotros/carlos.png" alt="" class="instructoresImg center">
            <p class="instructoreText"><span style="font-family: 'Avenir-Roman';">Carlos</span> Chiarotto</p>
        </div>
        <div class="col-md-6 col-sm-12 align-self-center" >
            <img src="../../assets/images/nosotros/laura.png" alt="" class="instructoresImg2 center">
            <p class="instructoreText2"><span style="font-family: 'Avenir-Roman';">Laura</span> Sosa</p>
        </div>
    </div>
</div>