
.row [class*='col-'] {
    transition: all 0.5s ease-in-out;
}

.marginTopContainer{
    margin-top: 30%;
}

.marginTop100 {
    margin-top: 100px;
}

.col-md-3 {
    padding: 8px;
}
.sizeImg{
    size: 5%;
}

.marginTopContainer10 {
    margin-top: 10%;
}

.maxWidth50 {
    max-width: 50%;
}

.col-md-9 {
    padding: 8px;
}

.black {
    font-family: Avenir-Black;
}
.blackL {
    font-family: Avenir-Black;
}

.blackM {
    font-family: Avenir-Black;
}

.roman {
    font-family: Avenir-Roman;
}


#subtitulo {
    font-family: Avenir-Roman;
}

#subtitulo2 {
    font-family: Avenir-Black;
}

.cuadrado {

    height: 350px;
}

.imgMeditando {
    max-width: 190%;
    margin: -45%;
}

.iconoMeditacion {
    width: 40px;
}

.marginColBot2-5{
    margin-bottom: 2.0rem!important;
}

.line-height27 {
    line-height: 27px;
}

.marginColLeft50 {
    margin-left: 50%;
}

.marginColLeft5n {
    margin-left: -5%;
}

.marginColLef5 {
    margin-left: 5%;
}

.marginLeft100{
    margin-left: 100px;
}

.marginLeft68{
    margin-left: 68px;
}


.imgEscorpion {
    width: 135%;
    margin: -25%;
    z-index: 10;
}

.rowClases{
    max-height: 90px;
}

.btn-info {
    border-color: #67347E;
    margin-right: 40px;
}

.marginBotonInfo {
    margin-left: 30px;
}

.pointer {
    cursor: pointer;
}

.center{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.textoGrande {
    font-size: 32px;
}

#clasesYoga {
    padding-top: 5%;
}

.naranja {
    background-color: #E9774D;
}

.mostaza {
    background-color: #E99623;
}

.textoMostaza{
    color: #E99623;
    font-family: Avenir-Roman;
    font-size: 20px;
}
.textoVioleta {
    color: #67347E;
    font-family: Avenir-Roman;
    font-size: 20px;

}

.textoBlanco {
    color: white;
    font-family: Avenir-Roman;
    font-size: 20px;
}

.textoHorarios {
    color: white;
    font-size: 20px;
    letter-spacing:1px;
}

.textoHorariosSemana {
    color: white;
    font-size: 10px;
    letter-spacing:1px;

}

.sinPM{
    padding: 0 !important;
    margin: 0 !important;
    max-width: 0.1%
}



.colHorario{
    max-width: 14%
}

#barraMostaza {
    height: 30px;
    border-right-color: #E99623;
    border-right-style:solid ;
    border-right-width: 1.1px;
}

.vl {
    border-left: 1px solid #E99623;;
    height: 30px;
  }

  .v2 {
    border-left: 1px solid #67347E;;
    height: 30px;
  }

.lilaClaro {
    background-color: #815C9E;
}

.lilaOscuro {
    background-color: #815C9E;
}

.violeta {
    background-color:  #67347E;
}

h3 {
    color: white;
}

hr {
    z-index: -10;
    border: 0;
    border-top: 8px solid;
    width: 280px;
    margin: 0;
    margin-top: -23px;
    position: absolute;
    transition: width 0.3s ease-out;
    -webkit-transition: width 0.3s ease-out;
    color: #E99623 !important;
}



@media only screen and (max-width: 1367px) {
    
}


@media only screen and (max-width: 1024px) {
  
    .blackL {
        font-size: 20px;
        font-family: "Avenir-Book";
    }

  .marginTopMovil{
      margin-top: 3%;
  }

    .textoHorarios{
        font-size: 15px;
    }

    .textoBlanco {
        font-size: 16px;
    }

    .textoMostaza {
        font-size: 16px;
    }

    .marginLeft68{
        margin-left: 55px;
        margin-top:10px
    }

    .blackM {
        font-size: 22px;
    }
}

@media only screen and (max-width: 768px) {

    .imgMeditando,.imgEscorpion {
        display: none;
    }

    .blackL {
        font-size: 16px;
        font-family: "Avenir-Book";
    }

    .blackM {
        font-size: 18px;
    }

    .btn-info {
        font-size: 14px;
    }

    .colHorario {
        max-width: 18.5%;
    }

    
  
}
@media only screen and (max-width: 426px) {
    .marginColLef5 {
        margin-left: 0%;
    }

    .vl {
        border-left: 0px solid #E99623;;
        height: 30px;
      }
    
      .v2 {
        border-left: 0px solid #67347E;;
        height: 30px;
      }
}


@media only screen and (max-width: 411px) {
  
}

   
@media only screen and (max-width: 376px) {
  
}

@media only screen and (max-width: 321px) {
   
}