<h1 id="subtitulo">Nuestras</h1>
<h1 id="subtitulo2">ACTIVIDADES</h1>
<hr>

<div class="row">
    <div class="col-md-3 col-sm-12 ">
        <div class="cuadrado naranja center" [ngClass]="{'pointer':c1}">
            <div class="container">
                <div class="row ">
                    <div class="col">
                        <h3 class="textoGrande black">
                            MEDITACIÓN
                        </h3>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col ">
                        <i class="icon-plus center" style="color: white;"></i>
                    </div>
                </div>

            </div>


        </div>

    </div>
    <div class="col-md-9  col-sm-12">
        <div class="cuadrado lilaClaro" [ngClass]="{'pointer':c2}">
            <div class="container">
                <div class="row rowClases" id="clasesYoga">
                    <div class="col-md-6 offset-md-1">
                        <h3 class="black">
                            CLASES DE YOGA
                        </h3>
                    </div>
                    <div class="col-md-5 marginColLeft50">
                        <img src="../../assets/images/actividades/meditando01.png" alt="" class="imgMeditando">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-1">
                        <p class="textoMostaza">Para todas las edades, sumate a practicar <br>
                            mejorando tu postura, fexibilidad y <br>
                            calidad de vida.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 offset-md-1 colHorario">
                        <p class="textoHorarios black ">Horarios</p>
                    </div>
                    <div class="col-md-1 sinPM ">
                        <div class="vl"></div>
                    </div>
                    <div class="col-md-8">
                        <p class="textoHorariosSemana">Lunes y Miercoles <br>Martes y Jueves</p>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 offset-md-2 ">
                        <button type="button" class="btn btn-info violeta marginBotonInfo">Mas Informacion</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-9  col-sm-12  align-items-center justify-content-center">
        <div class="cuadrado violeta " [ngClass]="{'pointer':c3}">
            <div class="container">
                <div class="row rowClases marginColBot2-5" id="clasesYoga">

                    <div class="col-md-4 marginColLeft5n">
                        <img src="../../assets/images/actividades/escorpion02.png" alt="" class="imgEscorpion">
                    </div>
                    <div class="col-md-6 marginColLef5">
                        <h3 class="black">
                            CURSO DE FORMACIÓN<br> DE PROFESORES DE YOGA </h3>
                    </div>

                </div>
                <div class="row mt-2 mb-1">
                    <div class="col-md-7 offset-md-4">
                        <p class="textoMostaza line-height27">Excelencia en la Formación de quienes quieran enseñar Yoga, aprender el Yoga en su integralidad y mejorar la propia práctica personal.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 offset-md-4 colHorario">
                        <p class="textoHorarios black ">Horarios</p>
                    </div>
                    <div class="col-md-1 sinPM ">
                        <div class="vl"></div>
                    </div>
                    <div class="col-md-2">
                        <p class="textoHorariosSemana">Lunes y Miercoles <br>Martes y Jueves</p>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 offset-md-3 ">
                        <button type="button" class="btn btn-info mostaza marginLeft68">Mas Informacion</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3  col-sm-12">
        <div class="cuadrado mostaza center" [ngClass]="{'pointer':c4}">
            <div class="container">
                <div class="row ">
                    <div class="col-md-5 ml-4">
                        <h3 class="textoGrande black" style="text-align: left;">
                            CURSO <br>
                            AVANZADO
                        </h3>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col ">
                        <i class="icon-plus center" style="color: white;"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>