<div class="container">
  <div class="abs-center">
    <h1 class="yogaEs">YOGA ES</h1>
    <hr align="center" />
  </div>
  <div class="center" style="margin-top: 2%;">
    <p class="text1">
      Un sistema de EDUCACIÓN INTEGRAL del cuerpo, mente y alma. Es el medio por
      el cual vuelves conciente tu propia
      <span style="font-family: 'Avenir-Oblique';"> Realidad Esencial.</span>
    </p>
    <p class="text1">Su modo de practicarlo harán que tu mano se abra siempre para dar, tu corazón se

        expanda en el amor y tu intelecto se colme de plena sabiduría. Tu cuerpo se mantendrá sano y 
        flexible, tu percepción cambiará y tendrás una actitud positiva en la vida.</p>
    <p class="text3">
        SALUD RADIANTE, PAZ EN LA MENTE, AMOR EN EL CORAZÓN Y COMPRENSIÓN SUTIL
    </p>
    <p class="text2">
        se arraigarán profundamente en ti.
    </p>
  </div>
</div>
